img {
  max-width: 100px;
  max-height: 150px;
}

.container {
  background-color: mistyrose;
  background-image: url("background_image2.jpg");
}

.h1-heading, #h1-heading {
  font-family: fantasy;
}

.please-login {
  font-family: 'Kaushan Script', cursive;
}

.btn {
  font-family: 'Permanent Marker', cursive;
}

.bk_title {
  font-family: 'Bad Script', cursive;
}

.author {
  margin-top: 10px;
  font-weight: bold;
}
