<form action="/end_session" method="post">
  <button>Logout</button>
</form>

<h1>ALL books for purchase</h1>
<% @books.each do |book| %>

  <h2>
    <a href='/about_book?title=<%= book["book_title"] %>'> <%= book['book_title'] %></a>
  </h2>

  <img src="<%= book['images'] %>" alt="">
  <p>AUTHOR: <%= book['author'] %></p>
  <hr>
<% end %>
