<div class="container">

  <form action="/end_session" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
  </form>

  <h1 class="text-center">ALL books for purchase</h1>

  <% @books.each do |book| %>
    <h2 class="">
      <a href='/about_book?title=<%= book["book_title"] %>'> <%= book['book_title'] %></a>
    </h2>
    <img src="<%= book['images'] %>">
    <p>AUTHOR: <%= book['author'] %></p>
    <hr>
  <% end %>

</div>
