<form action="/end_session" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-info">Logout</button>
</form>

<h1 class="h1-heading">Checkout</h1>

<% @items.each do |item| %>
  <p class="checkout-text"><span>Title:</span> <%= item.book[:book_title] %> </p>
  <p class="checkout-text"><span>Price:</span> $ <%= item.book[:price] %> </p>
  <hr>
<% end %>

<p class="checkout-text"><span>Total:</span> $ <%= @total %></p>

<form action="/end_session" method="post">
  <input type="hidden" name="_method" value="delete">
  <button class="btn btn-success">Pay</button>
</form>
