<!-- id | name | surname | email | phone_no | street_no | street_name | suburb | postcode | password_digest -->

<h3 class="new-label">Create User</h3>
<form action="/new_user" method="post">
  <div class="form-group">

    <label class="new-label">Name</label>
    <input class="form-control" name="name" type="text">

    <label class="new-label">Surname</label>
    <input class="form-control" name="surname" type="text">

    <label class="new-label">Email</label>
    <input class="form-control" name="email" type="text">

    <label class="new-label">Phone No.</label>
    <input class="form-control" name="phone_no" type="text">

    <label class="new-label">Street No.</label>
    <input class="form-control" name="street_no" type="text">

    <label class="new-label">Street_name</label>
    <input class="form-control" name="street_name" type="text">

    <label class="new-label">Suburb</label>
    <input class="form-control" name="suburb" type="text">

    <label class="new-label">Postcode</label>
    <input class="form-control" name="postcode" type="text">

    <label class="new-label">Choose a Password</label>
    <input class="form-control" name="password" type="password">

    <button id="create-btn" class="btn btn-success">Create</button>
  </div>
</form>
