<!-- id | name | surname | email | phone_no | street_no | street_name | suburb | postcode | password_digest -->

<h1>Ella's Online Bookstore</h1>
<h3>CREATE NEW USER</h3>
<form action="/new_user" method="post">
  <label>Name</label>
  <input name="name" type="text">

  <label>Surname</label>
  <input name="surname" type="text">

  <label>Email</label>
  <input name="email" type="text">

  <label>Phone No.</label>
  <input name="phone_no" type="text">

  <label>Street No.</label>
  <input name="street_no" type="text">

  <label>Street_name</label>
  <input name="street_name" type="text">

  <label>Suburb</label>
  <input name="suburb" type="text">

  <label>Postcode</label>
  <input name="postcode" type="text">

  <label>Choose a Password</label>
  <input name="password" type="password">

  <button>CREATE</button>
</form>
