<div class="main-page">
  <form name="form-signin" action="/login" method="post">
    <h3 class="please-login"=>Please sign in</h3>
    <label class="sr-only">Email Address</label>
    <input class="form-control" name="email" type="email" placeholder="Email Address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input class="form-control" name="password" type="password" placeholder="Password" required>

    <button id="btn" class="btn btn-lg btn-primary btn-block">Login</button>
  </form>

  <form action="/create_user">
    <button id="btn" class="btn btn-lg btn-primary btn-block">Create new user</button>
  </form>
</div>
