<h1>Ella's Online Bookstore </h1>
<p>WELCOME to Ella's Online books Store. Please log in to enter site </p>

<form action="/login" method="post">
  <label>email</label>
  <input name="email" type="text">

  <label>password</label>
  <input name="password" type="password">

  <button>LOGIN</button>
</form>

<form action="/create_user">
  <button>Create NEW User</button>
</form>
