<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GA Project 2 - Database</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <% if (session[:global_variable]) != nil %>
    <p>Logged in as: <%=session[:global_variable].name %></p>
  <% end %>

  <%= yield %>

</body>
