<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GA Project 2 - Database</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
  <% if (session[:user_name]) != nil %>
    <p>Logged in as: <%=session[:user_name]%></p>
    <form action="/end_session" method="post">
      <button>Logout</button>
    </form>
  <% end %>

  <%= yield %>

</body>
